/* Collapsible with some JS */

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapisble__line">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi obcaecati
    deleniti iure sit dolorem praesentium sunt quia cupiditate ipsam recusandae.
  </div>
</div>
<script src="main.js"></script>
