/* Quote */

<blockquote class="quote">
      <p class="quote__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur dolores dolor impedit adipisci voluptas explicabo ipsa voluptates harum est quos consequuntur dignissimos, ut illum aspernatur minus sequi vero ducimus repudiandae.
      </p>
      <footer>
        <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>

      <div class="media__body">
        <h3 class="media__title quote__author">Zane Butcher</h3>
        <p class="quote__company">
          Everything Eco
        </p>
      </div>
    </div>
      </footer>
    </blockquote>